@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish-font {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
    margin: 0;
}

.orange-text {
    color: rgb(255, 84, 0);
}

.grey-text {
    color: rgb(66, 66, 71);
}

/* Shared styles */
.d-f {
    display: flex;
}

body {
    font-family: "Mulish", sans-serif;
}

.container {
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
}

/* Navbar styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin-right: 45px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}

.nav-link:hover {
    color: rgb(255, 84, 0);
}

.brand-identity {
    width: 280px;
    align-items: center;
}

.brand {
    font-size: 36px;
    font-weight: 800;
    line-height: 45px;
}

.logo {
    width: 48px;
    height: 56.01px;
    margin-right: 0.5rem;
}

/* Banner styles */